.main {
  text-align: center;
}

.mainBody {
  min-width: 100rem;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.mainSection {
  min-width: 120rem;
}

.navigation {
  background: whitesmoke;
  box-shadow: 2px rgb(0, 0, 0);
}
