# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Challenge.Auth.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Development\_Work\Challenge\Backend\Challenge.Auth\.idea\.idea.Challenge.Auth\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
