<div class="mainBody">
	<div>
		<h3>Assign teacher to course</h3>
		<form class="example-form">
			<mat-form-field class="example-full-width">
				<mat-label>Teacher ID</mat-label>
				<input matInput placeholder="ID" (change)="newTeacherId=$event.target.value" [value]="newTeacherId">
			</mat-form-field>
			<mat-form-field class="example-full-width">
				<mat-label>Course ID</mat-label>
				<input matInput placeholder="Course" (change)="newTeacherCourse=$event.target.value"
					[value]="newTeacherCourse">
			</mat-form-field>
		</form>
		<button mat-button color="warn" (click)="create()">Associate</button>
	</div>
	<mat-divider></mat-divider>
	<div class="mainSection">
		<h3>All assigned teachers</h3>
		<mat-spinner *ngIf="!teachers  && !hasError"></mat-spinner>
		<span *ngIf="hasError">{{errorMessage}}</span>
		<div *ngIf="teachers && !hasError" class="example-table-container">
			<table mat-table [dataSource]="teachers" matSort class="example-table">
				<!-- ID Column -->
				<ng-container matColumnDef="id">
					<th mat-header-cell *matHeaderCellDef mat-sort-header>Teacher ID</th>
					<td mat-cell *matCellDef="let row">{{row.teacherId}}</td>
				</ng-container>

				<!-- Name Column -->
				<ng-container matColumnDef="course">
					<th mat-header-cell *matHeaderCellDef>Course ID</th>
					<td mat-cell *matCellDef="let row">{{row.courseId}}</td>
				</ng-container>

				<tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
				<tr mat-row *matRowDef="let row; columns: columnsToDisplay;" (click)="onSelect(row)"></tr>
			</table>
		</div>
	</div>
	<mat-divider></mat-divider>
	<div *ngIf="selectedTeacher" style="flex-grow: 1;">
		<h3>Unassign teacher</h3>
		<div class="example-form">
			<div class="example-full-width">
				<span>Teacher ID: {{selectedTeacher.teacherId}} | Teacher ID: {{selectedTeacher.courseId}}
				</span>
			</div>
		</div>
		<button mat-button color="warn" (click)="delete()">Delete</button>
	</div>
</div>