# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/.idea.Challenge_EF.iml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../:\Development\_Work\Challenge_EF\.idea\.idea.Challenge_EF\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
