<h3><b>This SPA is only a part of a bigger challenge compromising of a backend server written in C# (.NET Core 3.1) and
		IndentityServer 4 for authentication</b></h3>
<p>This frontend was written in TypeScript, using the angular framework. The database used was PostgreSQL and it
	supports two ORM (EntityFramwork and Dappper)</p>
<p>After you initialized the backend infrastructure, you can start using this app by clicking any navigation link above.
	(Try clicking on the "Auth"! The username is 'test' and the password is '1234')</p>
<p><b>The rest of the project can be found here:</b></p>
<a href="https://github.com/HRKings/FullstackChallenge">HRKings Fullstack Challenge</a>